.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item{
  flex: 1;
  margin: 10px;
}

.item-2 {
  flex: 1;
  text-align: justify;
}

.image-circle {
  border: 2px solid #426a7f;
  border-radius: 50%;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

div {
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

body {
  background-color: #4da0b8;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

header {
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.5;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* to style phone number link */
a[href="tel:"]{
  color: rgb(0, 255, 98);
}

/* To style email link */


a:hover {
  color: #f77f00;
}

hr {
  width: 420px;
	height: 32px;
	border: none;
  margin-top: 30px;
  margin-bottom: 20px;
	background-image: url("images/horizontal-rule.png");
}

nav a {
  padding-left: 20px;
}

footer {
  margin: 200px 0 0 0;
  padding: 20px 0;
  text-align: center;
}